body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

/* Header */
header {
    background-color: #004aad;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Navigation - GREEN */
nav {
    background-color: #0a8f3d;
    text-align: center;
    padding: 12px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

/* Section */
section {
    background: white;
    width: 600px;
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Dropdown Style */
.dropdown-btn {
    cursor: pointer;
    color: #0a8f3d;
}

.dropdown-content {
    display: none;
    margin-top: 10px;
}

/* Form */
form label {
    display: block;
    margin-top: 10px;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #0a8f3d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #066e2d;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #0a8f3d;
    color: white;
}
